In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,LSTM
import matplotlib.pyplot as plt

from joblib import Parallel, delayed
import joblib

In [2]:
from datetime import datetime

test_start = str(datetime.now().year-1) +"-"+ str(datetime.now().month-2)+"-"+ str(datetime.now().day)
test_end = str(datetime.now().year) +"-"+ str(datetime.now().month)+"-"+ str(datetime.now().day)

In [3]:
test_start,test_end

('2022-2-8', '2023-4-8')

In [4]:
from pandas_datareader import data as web
import yfinance
yfinance.pdr_override()

company = 'HDFCBANK.NS'

test_df = web.get_data_yahoo(company,start=test_start,end=test_end) 
scaler = MinMaxScaler(feature_range=(0,1))

[*********************100%***********************]  1 of 1 completed

In [5]:
test_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-29,1584.000000,1602.000000,1581.900024,1587.800049,1587.800049,19881806
2023-03-31,1595.599976,1612.949951,1592.400024,1609.550049,1609.550049,17355614
2023-04-03,1607.550049,1615.699951,1602.750000,1610.550049,1610.550049,20012699
2023-04-05,1618.599976,1656.000000,1616.000000,1653.750000,1653.750000,21682696
2023-04-06,1648.550049,1669.199951,1647.099976,1666.349976,1666.349976,22318672

In [6]:
test_df = test_df.reset_index()

In [7]:
actual_prices = test_df['Close'].values
print(actual_prices.shape,test_df['Close'].shape)

(288,) (288,)

In [8]:
reshape_close = test_df['Close'].values.reshape(-1,1)
reshape_close.shape

(288, 1)

In [9]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(reshape_close)

In [10]:
prediction_days = 60
x_test = []
for x in range(prediction_days,len(scaled_data)):
    x_test.append(scaled_data[x-prediction_days:x,0])

In [11]:
x_test = np.array(x_test)

In [12]:
x_test.shape

(228, 60)

In [13]:
x_test = np.reshape(x_test,(x_test.shape[0],x_test.shape[1],1))
x_test.shape

(228, 60, 1)

In [14]:
a = [1,2,3]
a = np.array(a)
a = np.reshape(a,(-1,1))
a.shape

(3, 1)

In [15]:
import os
os.getcwd()

'D:\\Stock_PricePredictionAnd Analysis\\project Code\\stockapp_backend\\core\\stock_api'

In [16]:
import pickle
# model = joblib.load("D:\Stock_PricePredictionAnd Analysis\project Code\stockapp_backend\core\models_prediction\HDFCBANK.pkl")

In [17]:
try:
    
    model = joblib.load("D:\Stock_PricePredictionAnd Analysis\project Code\stockapp_backend\core\models_prediction\HDFCBANK.pkl")    
    predictd_prices = model.predict(x_test)
    print(model)
    
except Exception as e:
    print(e)

Keras model archive loading:
File Name                                             Modified             Size
metadata.json                                  1980-01-01 00:00:00           64
config.json                                    1980-01-01 00:00:00         3924
model.weights.h5                               2023-04-07 23:16:12       647484
[Errno 2] Unable to open file (unable to open file: name = 'C:\Users\DELL\AppData\Local\Temp\tmp4xno51j8\variables.h5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)

In [43]:
tickers = ['RELIANCE.NS','TCS.NS','HDFCBANK.NS','INFY.NS','HINDUNILVR.NS','ICICIBANK.NS']
test_start = str(datetime.now().year) +"-"+ str(datetime.now().month)+"-"+ str(datetime.now().day-1)
test_end = str(datetime.now().year) +"-"+ str(datetime.now().month)+"-"+ str(datetime.now().day)
test_df = web.get_data_yahoo(tickers,start=test_start,end=test_end)

[*********************100%***********************]  6 of 6 completed

In [39]:
test_df

             Adj Close                                                       \
           HDFCBANK.NS HINDUNILVR.NS ICICIBANK.NS      INFY.NS  RELIANCE.NS
Date
2023-04-06      1666.0        2564.0        875.0  1422.349976  2340.149902

                              Close                                          \
                 TCS.NS HDFCBANK.NS HINDUNILVR.NS ICICIBANK.NS      INFY.NS
Date
2023-04-06  3218.899902      1666.0        2564.0        875.0  1422.349976

            ...         Open                                   Volume  \
            ... ICICIBANK.NS INFY.NS  RELIANCE.NS  TCS.NS HDFCBANK.NS
Date        ...
2023-04-06  ...        882.0  1416.0  2318.149902  3225.0    22317458


           HINDUNILVR.NS ICICIBANK.NS  INFY.NS RELIANCE.NS   TCS.NS
Date
2023-04-06        797385     26040712  6948081     8504637  1700477

[1 rows x 36 columns]

In [40]:
test_df = test_df.reset_index()

In [41]:
test_df

        Date   Adj Close                                                       \
             HDFCBANK.NS HINDUNILVR.NS ICICIBANK.NS      INFY.NS  RELIANCE.NS
0 2023-04-06      1666.0        2564.0        875.0  1422.349976  2340.149902

                     Close                             ...         Open  \
        TCS.NS HDFCBANK.NS HINDUNILVR.NS ICICIBANK.NS  ... ICICIBANK.NS
0  3218.899902      1666.0        2564.0        875.0  ...        882.0

                                    Volume                             \
  INFY.NS  RELIANCE.NS  TCS.NS HDFCBANK.NS HINDUNILVR.NS ICICIBANK.NS
0  1416.0  2318.149902  3225.0    22317458        797385     26040712


   INFY.NS RELIANCE.NS   TCS.NS
0  6948081     8504637  1700477

[1 rows x 37 columns]

In [42]:
test_df['Close']['TCS.NS']

0    3218.899902
Name: TCS.NS, dtype: float64

In [45]:
tickers = ['ADANIENT.NS','BAJFINANCE.NS','TATAMOTORS.NS','TCS.NS','HDFCBANK.NS','INFY.NS','HINDUNILVR.NS','ICICIBANK.NS','SUNPHARMA.NS','EICHERMOT.NS']
test_start = str(datetime.now().year) +"-"+ str(datetime.now().month)+"-"+ str(datetime.now().day-1)
test_end = str(datetime.now().year) +"-"+ str(datetime.now().month)+"-"+ str(datetime.now().day)
test_df = web.get_data_yahoo(tickers,start=test_start,end=test_end)

[*********************100%***********************]  10 of 10 completed

In [68]:
stock_dict = {}
for column in test_df['Open'].columns:
    stock_dict[column]= [test_df['Open'][column].values[0],test_df['Close'][column].values[0]]
#     print()
print(stock_dict)
# test_df['Open'].values[0]
# test_df['Open'].columns.to_list()

{'ADANIENT.NS': [1705.0, 1752.5999755859375], 'BAJFINANCE.NS': [5761.0, 5951.0], 'EICHERMOT.NS': [2948.699951171875, 2965.0], 'HDFCBANK.NS': [1648.550048828125, 1666.0], 'HINDUNILVR.NS': [2575.0, 2564.0], 'ICICIBANK.NS': [882.0, 875.0], 'INFY.NS': [1416.0, 1422.3499755859375], 'SUNPHARMA.NS': [997.1500244140625, 1011.0499877929688], 'TATAMOTORS.NS': [426.5, 437.1499938964844], 'TCS.NS': [3225.0, 3218.89990234375]}